{% extends 'front/base.html' %}
{% load static %}

{% block headblock %}
<title>{{ site.name }} | Slay the Dragon</title>
<link rel="stylesheet" href="{% static 'front/my_games/TemplateData/hacks/style.css' %}">
{% endblock %}

{% block mainblock %}



<div class="webgl-content">
    <div id="gameContainer" style="width: 960px; height: 600px"></div>
    <div class="footer">
      <div class="webgl-logo"></div>
      <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
      <div class="title">Slay the Dragon</div>
    </div>
  </div>


{% endblock %}


{% block footerblock %}
<script src="{%static 'front/my_games/TemplateData/slay/UnityProgress.js' %}"></script> 
    <script src="{%static 'front/my_games/Build/slay/UnityLoader.js' %}"></script>
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "{%static 'front/my_games/Build/slay/Adventure.json' %}", {onProgress: UnityProgress});
    </script>
  {% endblock %}