
{% extends 'back/base.html' %}
{% load static %}



{% block headblock %}

    <script src="{%static 'ckeditor/ckeditor.js' %}"></script>

{% endblock %}

{% block mainblock %}

   <div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>Edit News<br><small>you can add, edit and delete your data!</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>News</li>
    <li><a href="/panel/news/edit/{{pk}}">Edit</a></li>
</ul>





<div class="row">
        <div class="col-md-12">
          
            <div class="block">
               
                <div class="block-title">
                    
                    <h2><strong>Edit</strong> News</h2>
                </div>
          
                <form action="{%url 'news_edit' pk=pk %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" >
                    {% csrf_token %}
                    <div class="form-group">
                            <div class="col-md-6">
                                <input type="text" id="newstitle" value="{{news.name}}" name="newstitle" class="form-control" placeholder="News Title">
                            </div>
                            <div class="col-md-6">
                            
                                    <select id="newscat" name="newscat" class="select-chosen" data-placeholder="Choose a Category..." style="width: 250px;">

                                            <option value="{{news.catid}}">{{news.catname}}</option>
                                            {% for i in cat %}
                                            <option value="{{i.pk}}">{{i.catname}} | {{i.name}}</option>
                                            {% endfor %}
                                          
                                           
                                        </select>

                            </div>
                        </div>

                        <div class="form-group">
                                <div class="col-md-12">
                                    <p>Summary</p>
                                    <textarea type="text" id="newstxtshort" name="newstxtshort" rows="5" class="form-control" placeholder="Summary">{{news.short_txt}}</textarea>
                                </div>
                              
                            </div>

                            <script>
                                    CKEDITOR.replace( 'newstxtshort' );
                                </script>
                     

                            <div class="form-group">
                                    <div class="col-md-12">
                                        <p>Body</p>
                                        <textarea type="text" id="newstxt" name="newstxt" rows="5" class="form-control" placeholder="Body">{{news.body_txt}}</textarea>
                                    </div>
                                  
                                </div>

                                <script>
                                        CKEDITOR.replace( 'newstxt' );
                                    </script>
    


                                <div class="form-group">
                                        <div class="col-md-6">
                                            <input type="file" id="myfile" name="myfile" rows="5" class="form-control" placeholder="Body">
                                            <br/><br/>
                                            <div class="col-md-6">
                                        
                                                <img style="display: inline-block; width:350px; height:300px;" src="{{news.picurl}}">
                                              </div>
                                            <br>
                                            <textarea type="text" id="tag" name="tag" rows="5" class="form-control" placeholder="Tags">{{news.tag}}</textarea>
                                       
                                        </div>
                                        
                                      
                                    </div>

                               


                                <div class="form-group">
                                        <div class="col-md-12">
                                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                                            </div>
                                      
                                    </div>

                   
                                
                   
                 
                  
                </form>
                
            </div>
            
        </div>
      
    </div>



{% endblock %}




{% block footerblock %}


   <script src="{%static 'back/js/pages/tablesDatatables.js' %}"></script>
   <script>$(function(){ TablesDatatables.init(); });</script>
        {% endblock %}